In [1]:
from appJar import gui

In [2]:
app = gui()

2020-12-12 09:51:35,296 appJar:WARNING [799/_checkMode]: Interactive mode is not fully tested, some features might not work.
2020-12-12 09:51:35,298 appJar:WARNING [810/_checkMode]: iPython is not fully tested, some features might not work.

In [3]:
app.addLabel("title", "Fire Chart Comparison tool")
app.setLabelBg("title", "White")

In [4]:
app.go()

In [1]:
from appJar import gui 

with gui() as app:
    fig = app.addPlotFig("p1")
    ax = fig.add_subplot(111)
    ax.plot([1,2])

2020-12-15 20:17:58,186 appJar:WARNING [799/_checkMode]: Interactive mode is not fully tested, some features might not work.
2020-12-15 20:17:58,189 appJar:WARNING [810/_checkMode]: iPython is not fully tested, some features might not work.

In [1]:
    from appJar import gui

    # the title of the button will be received as a parameter
    x=0
    def press(btn):
        global x
        x+=1
        app.setLabel("l1", str(x))



    app=gui()
    # 3 buttons, each calling the same function
    app.addButton("One", press)
    app.addButton("Two", press)
    app.addButton("Three", press)
    app.addLabel("l1", str(x))
    
    app.addOpenEntry('find your file')
    app.go()

2020-12-18 20:22:48,273 appJar:WARNING [799/_checkMode]: Interactive mode is not fully tested, some features might not work.
2020-12-18 20:22:48,275 appJar:WARNING [810/_checkMode]: iPython is not fully tested, some features might not work.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from PIL import Image, ImageTk

from appJar import gui

data=pd.read_csv("ALL PINK SENSORS-0601 REV-F-FLOURESCENT LAMP CLOSE IN-6 IN RANDOM MODULATION.txt", header = None)

In [11]:
data.dropna(axis='columns',thresh=10,inplace=True)
data.dropna(axis='rows',how='any',inplace=True)
data.drop([0],axis=1,inplace=True)
data.head()

,1,2,3,4,5,6,7,8,9,10,11,12
1,1.7560,2.0270,2.1128,0,T-H,0.0,0.0,1.1911,1.5495,1.2146,5502.0,32.0
2,1.8959,2.2239,2.5790,0,T-H,0.0,0.0,1.1911,1.5473,1.2975,5502.0,32.0
3,1.8862,2.3092,2.4533,0,T-H,0.0,0.0,1.1532,1.3844,1.2268,5502.0,32.0
4,1.8554,2.4221,2.1508,0,T-H,0.0,0.0,1.1532,1.4365,1.2423,5500.0,32.0
5,1.8554,2.5357,2.2598,0,T-H,0.0,0.0,1.1532,1.5749,1.2110,5500.0,32.0

In [12]:
data.to_csv("flourescentLamp6inrandommod",index=False)

In [17]:
blankdata= np.zeros([600,12])
blankdf=pd.DataFrame(blankdata)

In [18]:
blankdf.head()

     0    1    2    3    4    5    6    7    8    9   10   11
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [19]:
blankdf.to_csv("blank.txt",index=False)

In [63]:
halogensim=np.array([240.0,180.0,100.0,145.0,0,0.0,0.0,1.1911,1.5495,1.2146,5502.0,32.0])

In [64]:
for i in range(9):
    halogensim=np.vstack((halogensim,halogensim))

In [65]:
halogensim.shape

(512, 12)

In [66]:
halogensimdf=pd.DataFrame(halogensim)

In [67]:
halogensimdf.to_csv("acetylene.txt",index=False)

In [48]:
testdata=pd.read_csv("halogensim.txt", header = None,error_bad_lines=False)

In [49]:
testdata.shape

(257, 12)

In [ ]:
/home/adam/Desktop/assignments/Capstone\ 1\ /